body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 149, 232, 0.483);
}

.content {
    text-align: center;
    height: 499px;
    width: 320px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    
    

}
img {
    width: 288px;
    height: 288px;
}


h1 {
    color: #333;
    font-size: 1.5rem;
}

p {
    color: #555;
}

